## Observations and Insights

In [79]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "D:\\Repos1\\gwu-arl-data-pt-09-2020-u-c\\02-Homework\\05-Matplotlib\\01-Case-Assignment\\Instructions\\Pymaceuticals\\data\\Mouse_metadata.csv"
study_results_path = "D:\\Repos1\\gwu-arl-data-pt-09-2020-u-c\\02-Homework\\05-Matplotlib\\01-Case-Assignment\\Instructions\\Pymaceuticals\\data\\Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
pyma_combo = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview
pyma_combo.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [80]:
# Checking the number of mice.
mice = pyma_combo['Mouse ID'].count()
mice

1893

In [81]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
duplicates = pyma_combo[pyma_combo.duplicated(['Mouse ID', 'Timepoint'])]
duplicates

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [82]:
# Optional: Get all the data for the duplicate mouse ID.

In [83]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
pyma_combo = pyma_combo.drop_duplicates(subset = ['Mouse ID', 'Timepoint'])
pyma_unique = pd.DataFrame(pyma_combo)
pyma_unique.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [84]:
# Checking the number of mice in the clean DataFrame.
pyma_unique['Mouse ID'].count()

1888

## Summary Statistics

In [85]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

t_mean = pyma_unique['Tumor Volume (mm3)'].describe()['mean']
t_median = pyma_unique['Tumor Volume (mm3)'].median()
t_var = pyma_unique['Tumor Volume (mm3)'].var()
t_std = pyma_unique['Tumor Volume (mm3)'].describe()['std']
t_sem = pyma_unique['Tumor Volume (mm3)'].sem()

t_summary =  pd.DataFrame({'Tumor Vol Mean': [t_mean], 'Tumor Vol Median': [t_median], 'Tumor Vol Variance': [t_var], \
                          'Tumor Vol Std Dev': [t_std], 'Tumor Vol Std Error': [t_sem]})
t_summary

,Tumor Vol Mean,Tumor Vol Median,Tumor Vol Variance,Tumor Vol Std Dev,Tumor Vol Std Error
0,50.449276,48.951421,79.291277,8.904565,0.204933

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

properties = pyma_unique.groupby(['Drug Regimen'])

In [105]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

properties = pyma_unique.groupby(['Drug Regimen'])
propmean = pyma_unique.groupby(['Drug Regimen']).mean()
propmedian = pyma_unique.groupby(['Drug Regimen']).median()
propvar = pyma_unique.groupby(['Drug Regimen']).var()
propstd = pyma_unique.groupby(['Drug Regimen']).std()
propsem = pyma_unique.groupby(['Drug Regimen']).sem()
propmean = propmean.rename(columns={'Tumor Volume (mm3)': 'Mean'})
propmedian = propmedian.rename(columns={'Tumor Volume (mm3)': 'Median'})
#propvar = columns={'Tumor Volume (mm3)': 'Mean'})
properties['Mean'] = propmean

TypeError: 'DataFrameGroupBy' object does not support item assignment

In [97]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

properties = pyma_unique.groupby(['Drug Regimen'])
#properties = properties['Tumor Volume (mm3)'].agg( Tumor_Vol = 'sum', Mean = 'mean',\
#                                Median = 'median', Variance = 'var', Std_Dev = 'std', Std_Error = 'sem')

prop_mean = properties['Tumor Volume (mm3)'].mean()
prop_mean = prop_mean.rename('Mean')
prop_mean

Drug Regimen
Capomulin    40.675741
Ceftamin     52.591172
Infubinol    52.884795
Ketapril     55.235638
Naftisol     54.331565
Placebo      54.033581
Propriva     52.393463
Ramicane     40.216745
Stelasyn     54.233149
Zoniferol    53.236507
Name: Mean, dtype: float64

In [ ]:
#properties = pd.DataFrame(pyma_unique.groupby('Drug Regimen'))
properties['Mean'] = properties.groupby(['Drug Regimen'])['Tumor Volume (mm3)'].transform('mean')
properties['Median'] = properties.groupby(['Drug Regimen'])['Tumor Volume (mm3)'].transform('median')
properties['Variance'] = properties.groupby(['Drug Regimen'])['Tumor Volume (mm3)'].transform('var')
properties['Std Dev'] = properties.groupby(['Drug Regimen'])['Tumor Volume (mm3)'].transform('std')
properties['Std Error'] = properties.groupby(['Drug Regimen'])['Tumor Volume (mm3)'].transform('sem')


#properties['Mean'] = properties.groupby(['Drug Regimen'])['Tumor Volume (mm3)'].transform('mean')
properties.head()

In [87]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

aggregate = pd.DataFrame(pyma_unique[['Drug Regimen','Tumor Volume (mm3)']])
aggregate = aggregate.groupby(['Drug Regimen']).agg(['mean','median','var','std','sem'])
aggregate

             Tumor Volume (mm3)
                           mean     median        var       std       sem
Drug Regimen
Capomulin             40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin              52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol             52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril              55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol              54.331565  52.509285  66.173479  8.134708  0.596466
Placebo               54.033581  52.288934  61.168083  7.821003  0.581331
Propriva              52.393463  50.909965  43.138803  6.568014  0.525862
Ramicane              40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn              54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol             53.236507  51.818479  48.533355  6.966589  0.516398

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen